parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method PBaszak\\\\MessengerCacheBundle\\\\Contract\\\\Required\\\\Cacheable\\:\\:getOwnerIdentifier\\(\\)\\.$#"
			count: 1
			path: ../../src/Manager/MessengerCacheManager.php
